body {
  background:#0e141b;
  color:#fff;
  font-family:Arial;
  text-align:center;
  padding:30px;
}

input, button {
  display:block;
  margin:10px auto;
  padding:12px;
  width:220px;
  border-radius:8px;
  border:none;
}

button {
  background:#c9a23f;
  font-weight:bold;
}